html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

#main-header{
        width: 100%;
        height: 98px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #F5F6F9;
}

#main-header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#main-header h1 {
    padding-left: 50px;
}

#main-header nav {
    width: 1000px;
    text-align: center;
}

#main-header nav ul.gnb {
    width: 100%;
}

#main-header nav ul.gnb>li {
    width: 20%;
    float: left;
    position: relative;
}

#main-header nav ul.gnb>li>a {
    width: 100%;
    height: 100%;
    font-size: 24px;
}

#main-header nav ul.gnb>li:hover>a {
    color : #CAB3E2;
}

/* section01 */
#section01{
    width: 100%;
    height: 884px;
    background: #1F2639;
    outline: 1px solid red;
}


.a{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.i{
    font-size: 22px;
    padding-top: 20px;
    color: #fff;
}

/* section02 */
#section02{
    height: 982px;
    outline: 1px solid #000;
}

.container-in{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid red; */
}

.frist{
    width: 500px;
    height: 982px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* outline: 1px solid blue; */
}

.f{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.r{
    padding-top: 10px;
    font-size: 18px;
}

.second{
    width: 1012px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.c{
    font-size: 34px;
    padding-bottom: 30px;
}

.second hr{
    width: 500px;
}

.simg{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
}

.s{
    padding-top: 20px;
    font-weight: 300;
    font-size: 32px;
}

/* section03 */
#section03{
    width: 100%;
    height: 982px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid #000;
}

.container-art{
    width: 1100px;
    height: 982px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid red;
}

.artp{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 1px solid red;
}

.artp1{
    font-size: 32px;
    font-weight: 600;
}
.artp2{
    font-size: 20px;
    padding-top: 5px;
}
.artp3{
    font-size: 28px;
    font-weight: 500;
    padding-top: 30px;
}

.artp4{
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 28px;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 30px;
}

.Box{
    width: 300px;
    height: 130px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box1{
    width: 70px;
    height: 70px;
border: 1px;
background-color: #000;
}

.box2{
    width: 70px;
    height: 70px;
border: 1px;
background-color: #F9FE00;
}

.box3{
    width: 70px;
    height: 70px;
border: 1px;
background-color: #FFF;
outline: 1px solid #000;
}

.boxp{
    display: flex;
}

/* section04 */
#section04{
    width: 100%;
    height: 982px;
    outline: 1px solid #000;
}

/* section05 */
#section05{
    width: 100%;
    height: 982px;
    outline: 1px solid #000;
}

/* section06 */
#section06{
    width: 100%;
    height: 982px;
    outline: 1px solid #000;
}

/* section07 */
#section07{
    width: 100%;
    height: 982px;
    outline: 1px solid #000;
}

/* footer */
footer {
    width: 100%;
    height: 135px;
    background: #F5F6F9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-container p{
    font-size: 22px;
}