 #footer {
     display: flex;
     position: relative;
     background-color: #333;
     height: 64px;
     width: 100%;
     text-align: center;
     align-items: center;
     justify-content: center;
     color: #fff;
 }

  /* 태블릿 (769px 이상) */
 @media (min-width: 769px)and (max-width: 1023px) {
     #footer {
         height: 60px;
         font-size: 16px;
     }
 }


 /* 반응형 */
 @media (max-width: 768px) {
     #footer {
         height: 60px;
         font-size: 16px;
         margin-top: 40px;
     }
 }